@font-face {
	font-family: 'CR';
	src: url('fonts/Circe-Regular.eot');
	src: local('Circe'), local('Circe-Regular'),
		url('fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/Circe-Regular.woff') format('woff'),
		url('fonts/Circe-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CEL';
	src: url('fonts/Circe-ExtraLight.eot');
	src: local('Circe ExtraLight'), local('Circe-ExtraLight'),
		url('fonts/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('fonts/Circe-ExtraLight.woff') format('woff'),
		url('fonts/Circe-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'CT';
	src: url('fonts/Circe-Thin.eot');
	src: local('Circe Thin'), local('Circe-Thin'),
		url('fonts/Circe-Thin.eot?#iefix') format('embedded-opentype'),
		url('fonts/Circe-Thin.woff') format('woff'),
		url('fonts/Circe-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'CL';
	src: url('fonts/Circe-Light.eot');
	src: local('Circe Light'), local('Circe-Light'),
		url('fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/Circe-Light.woff') format('woff'),
		url('fonts/Circe-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'CB';
	src: url('fonts/Circe-Bold.eot');
	src: local('Circe Bold'), local('Circe-Bold'),
		url('fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Circe-Bold.woff') format('woff'),
		url('fonts/Circe-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'CEB';
	src: url('fonts/Circe-ExtraBold.eot');
	src: local('Circe ExtraBold'), local('Circe-ExtraBold'),
		url('fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Circe-ExtraBold.woff') format('woff'),
		url('fonts/Circe-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}



/* FONT-FAMILY */
body{font-family:"CR";}
.cr{font-family:"CR";}
.cb{font-family:"CB";}
.ct{font-family:"CT";}
.cl{font-family:"CL";}
.cel{font-family:"CEL";}
.ceb{font-family:"CEB";}
/* FONT-SIZE PX */
.f60{font-size:60px;}
.f58{font-size:58px;}
.f56{font-size:56px;}
.f54{font-size:54px;}
.f52{font-size:52px;}
.f50{font-size:50px;}
.f48{font-size:48px;}
.f46{font-size:46px;}
.f44{font-size:44px;}
.f42{font-size:42px;}
.f40{font-size:40px;}
.f38{font-size:38px;}
.f36{font-size:36px;}
.f34{font-size:34px;}
.f32{font-size:32px;}
.f30{font-size:30px;}
.f28{font-size:28px;}
.f26{font-size:26px;}
.f24{font-size:24px;}
.f22{font-size:22px;}
.f20{font-size:20px;}
.f18{font-size:18px;}
.f16{font-size:16px;}
.f14{font-size:14px;}
.f12{font-size:12px;}
.f10{font-size:10px;}