*::-webkit-input-placeholder,
*:-moz-placeholder,
*::-moz-placeholder,
*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

* {
    /* OTHER SIZES SUMMARY */
    box-sizing: border-box;
    outline: 0;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    border: 1px solid brown;
}

body input:required:valid,
body textarea:required:valid {
    border: 1px solid green;
}

/* 100% HEIGHT */

html,
body {
    position: relative;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    max-width: 480px;
    margin: 0 auto;
    background: #333;
    box-shadow: 0 0 10px black;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

/* KERNING FIX FOR CHILD */

.block {
    height: 100vh;
    font-size: 0;
    margin: 0 auto;
    position:relative;
}

.block > * {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}

/* ADS CONTAINER */
#rkn_ad{
    display:none;
    position: absolute;
    top: 132px;
    left: 0;
    width: 100%;
    height: 150px;
    background: url(../ui/ads.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 100;
}

.rkn_view{
    display:block !important;
}

/* BASE STYLE */
.dashboard {
    display:none;
    width: 100%;
    color: white;
    font-size:0;
    background: #29a5dc;
    background-image: linear-gradient(bottom, #008AD5 16%, #2CA4DB 58%);
    background-image: -o-linear-gradient(bottom, #008AD5 16%, #2CA4DB 58%);
    background-image: -moz-linear-gradient(bottom, #008AD5 16%, #2CA4DB 58%);
    background-image: -webkit-linear-gradient(bottom, #008AD5 16%, #2CA4DB 58%);
    background-image: -ms-linear-gradient(bottom, #008AD5 16%, #2CA4DB 58%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, #008AD5), color-stop(0.58, #2CA4DB));
}
.update-zone{
    width: 100%;
    background: #8e8e8e;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: linear-gradient(bottom, rgb(142, 142, 142) 0%, rgb(118, 118, 118) 55%, rgb(142, 142, 142) 100%);
    background: -o-linear-gradient(bottom, rgb(142, 142, 142) 0%, rgb(118, 118, 118) 55%, rgb(142, 142, 142) 100%);
    background: -moz-linear-gradient(bottom, rgb(142, 142, 142) 0%, rgb(118, 118, 118) 55%, rgb(142, 142, 142) 100%);
    background: -webkit-linear-gradient(bottom, rgb(142, 142, 142) 0%, rgb(118, 118, 118) 55%, rgb(142, 142, 142) 100%);
    background: -ms-linear-gradient(bottom, rgb(142, 142, 142) 0%, rgb(118, 118, 118) 55%, rgb(142, 142, 142) 100%);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(142, 142, 142)), color-stop(0.55, rgb(118, 118, 118)), color-stop(1, rgb(142, 142, 142)));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8e8e8e', endColorstr='#8e8e8e', GradientType=0);
}
.column-left div, .column-center div{
    padding:5px 0;
    text-align:left;
    font-family: 'Squada One', cursive;
}
.column-right div{
    padding:5px 0;
    text-align:right;
    font-family: 'Squada One', cursive;
}
.column-left, .column-center .column-right{
    font-size:28px;
}
.column-left, .column-center, .column-right{
    display:inline-block;
    vertical-align: top;
    width:30%;
    color:#ddd;
    padding:0 15px;
}
.column-left{
    width:40%;
}
.column-left span, .column-center span, .column-right span{
    color:white;
    font-size:28px;
    vertical-align: middle;
}
.column-left img, .column-center img, .column-right img{
    width:32px;
    height:32px;
    margin:0 5px;
    border-radius:50%;
    box-shadow:0 0 10px #333;
    vertical-align: middle;
}



.update-zone{
    font-family: 'Roboto Condensed', sans-serif;
}
.update-zone button {
    width: 100px;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 2px solid #333;
    border-left:0;
    background: #888;
    color: white;
    vertical-align: top;
    font-size:30px;
}
.upgrade, .report{
    display:none;
    margin: 0 0 10px;
}
.update-box {
    height: 100px;
    margin:5px 0;
    color:white;
    background:#777;
    box-shadow:inset 0 0 10px #555;
    vertical-align: top;
    cursor:pointer;
}
.upgrade h2, .report h2 {
    color: white;
    margin: 0 0 10px;
    background: #666;
    padding: 15px 15px 10px;
    text-transform: uppercase;
    font-size: 28px;
    box-shadow:0 5px 10px #333;
    text-shadow:0 0 5px black;
}
.upgrade span, .report span{
    font-family: 'Squada One', cursive;
}
.upgrade img, .report img{
    width:64px;
    height:64px;
    vertical-align: top;
    margin-right:10px;
}
.desc {
    display: inline-block;
    width: 75%;
    padding: 18px 0;
    font-size:24px;
}
.desc:after{
    display:block;
    content:'';
    clear:both;
}
.desc p{
    margin:0;
    float: left;
}
.desc img{
    border-radius:50%;
    box-shadow:0 0 10px #333;
    float:right;
}
.desc small{
    font-size:18px;
    color:#ccc;
}



.visible{
    display:block;
    position:absolute;
    top:132px;
    left:0;
    bottom:0;
    right:0;
    z-index:10;
    background: #666;
}



.clickable-zone {
    width: 100%;
    height: 85vh;
    background-image: url(../ui/bg.png);
    border:none;
    box-shadow:inset 0 0 1em silver;
}
.clickable-btn{
    width:100%;
    height:100%;
    border:none;
    background:url(../ui/btn.png) no-repeat;
    background-position:center center;
    cursor:pointer;
}
.clickable-btn:active{
    padding:0 0 0 0;
    border:none;
    background:url(../ui/btn.png) no-repeat;
    background-position:center center;
}

.controlboard {
    display:none;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 480px;
    height: 109px;
    margin-left: -240px;
    padding: 10px;
    background: #333;
    z-index: 1000;
}

.control {
    display: inline-block;
    width: 89px;
    height: 89px;
    cursor:pointer;
}

.control img {
    width: 80%;
    height: 80%;
    margin: 10%;
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
}