/* MOBILE FIRST */

@media only screen and (min-width: 320px) {
    .block {
        width:320px;
    }

    /* Disable Animation on Mobile Devices */
    .animated {
        /*CSS transitions*/
        -o-transition-property:none !important;
        -moz-transition-property:none !important;
        -ms-transition-property:none !important;
        -webkit-transition-property:none !important;
        transition-property:none !important;
        /*CSS transforms*/
        -o-transform:none !important;
        -moz-transform:none !important;
        -ms-transform:none !important;
        -webkit-transform:none !important;
        transform: none!important;
        /*CSS animations*/
        -webkit-animation:none !important;
        -moz-animation:none !important;
        -o-animation:none !important;
        -ms-animation:none !important;
        animation:none !important;
    }
}

@media only screen and (min-width: 480px) {
    .block {
        width:320px;
    }
}


@media only screen and (min-width: 640px) {
    .block {
        width:480px;
        margin:0 auto;
    }
}